@page
@model App.Areas.Homes.Pages.Features.EditFeatureModel
@{ ViewData["Title"] = "Edit Feature"; }

<p><a class="btn btn-sm btn-light btn-back-arrow" asp-page="./Index">Back</a></p>

<div class="p-2">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group pt-4">
            <label asp-for="Title" class="control-label h4"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group pt-4">
            <p><span class="h4">Feature Levels</span> <span class="small pl-4">If no levels are defined, the whole feature will be scored.</span></p>

            <div class="levels col-4">
                @foreach (var level in Model.Levels) {
                    <div id="level_@(level.Id)" class="py-1">
                        <div class="level-header">
                            <span class="h5">@level.Title</span> <a class="btn-edit" asp-page="./EditFeatureLevel" asp-route-id="@level.Id">&nbsp;</a>
                        </div>
                    </div>
                }
                <div class="pt- pl-4">
                    <a class="badge badge-secondary" asp-page="./CreateFeatureLevel" asp-route-id="@Model.Id">Add a feature level</a>
                </div>
            </div>

        </div>
        <div class="form-group pt-4">
            <button class="btn btn-primary">Save Changes</button>
            <a class="btn btn-danger" asp-page="./DeleteFeature" asp-route-id="@Model.Id">Delete</a>
        </div>
        <input type="hidden" asp-for="Id" />
    </form>
</div>

@section Scripts {
    <script>
        $(function () {
            $(".levels").sortable({
                handle: '.level-header',
                axis: 'y',
                update: function (event, ui) {
                    var data = $(this).sortable('serialize');

                    $.ajax({
                        type: 'POST',
                        url: '@Url.Page("./EditFeature", "ReorderLevels")',
                        headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                        data: data
                    })
                        .done(function () {
                            setTimeout("location.reload(true);", 100);
                        });
                }
            });
        });
    </script>
}
