@page
@model App.Areas.Admin.Pages.EditSecurityRoleModel

@{ ViewData["Title"] = "Updating Security Role"; }

<p><a class="btn btn-sm btn-light btn-back-arrow" asp-page="./Index">Back</a></p>

<div class="p-2">
    <h4>Updating Security Role</h4>
    <div class="row mt-4 mb-4">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="SecurityRole.Id" />
                <div class="form-group">
                    <label asp-for="SecurityRole.Title" class="control-label h5"></label>
                    <input asp-for="SecurityRole.Title" class="form-control" />
                    <span asp-validation-for="SecurityRole.Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <p class="h5">Users</p>
                    @foreach (var item in Model.Users) {
                        <p><input type="checkbox" name="selectedUsers[]" value="@item.Value" @(item.Selected ? @"checked=""checked""" : "")> <span class="h6">@item.Text</span></p>
                    }
                </div>
                <div class="form-group">
                    <button class="btn btn-primary">Save</button>
                    <a class="btn btn-danger" asp-page="./DeleteSecurityRole" asp-route-id="@Model.SecurityRole.Id">Delete</a>
                </div>
            </form>
        </div>
    </div>
    <p class="mb-0"><small class="text-muted">Last edited <passed-time time="@Model.SecurityRole.Modified" /> by @Model.SecurityRole.ModifiedBy.FirstName</small></p>
</div>

@section Scripts {
    <partial name="Shared/_ValidationScriptsPartial" />
}