@page
@model App.Areas.Admin.Pages.YnabLogModel

@{ ViewData["Title"] = "YNAB Log"; }

<div>
    <h2>@ViewData["Title"]</h2>

    <hr />

    <table class="table table-hover rounded">
        <thead>
            <tr class="row">
                <th scope="col" class="col-2">
                    Time
                </th>
                <th scope="col" class="col-1">
                    Log Level
                </th>
                <th scope="col" class="col">
                    Message
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var entry in Model.LogEntries) {
                <tr class="row">
                    <td class="col-2">
                        <p>@entry.Time.ToString("d")</p>
                        <p>@entry.Time.ToString("T")</p>
                    </td>
                    <td class="col-1">
                        @entry.LogLevel
                    </td>
                    <td class="col">
                        <p>@entry.Name</p>
                        <div>
                            @Html.Raw(entry.Message.Replace("\n", "<br />"))
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>