@page
@model App.Areas.Homes.Pages.IndexModel
@{ ViewData["Title"] = "Homes"; }

@if (Model.Homes.Any()) {
    <p class="mb-3">Sorted by: <select asp-for="Sort" asp-items="@Model.SortOptions"></select></p>

    <table class="table table-hover rounded">
        <tbody>
            @foreach (var home in Model.Homes) {
                <tr class="row clickable">
                    <td class="col">
                        <a class="h5" asp-page="./Details" asp-route-id="@home.Id">@home.Address</a>
                    </td>
                    <td class="col-1 text-center">
                        <p class="m-0 p-0 h3 font-weight-bold"><span class="badge badge-primary">@home.Score</span></p>
                    </td>
                    <td class="col-2">
                        <p class="font-small mb-1">
                            Family Scores:
                            @foreach (var userScore in home.UserScores) {
                                <span class="badge badge-primary" title="@userScore.Name">@userScore.Score</span>
                            }
                        </p>
                        <p class="font-smaller">
                            @if (home.Updated > DateTime.Now.AddDays(-1)) {
                                <span class="font-weight-bold">Updated <passed-time time="@home.Updated" /> by @home.UpdatedBy</span>
                            }
                            else {
                                <span>Updated <passed-time time="@home.Updated" /> by @home.UpdatedBy</span>
                            }
                        </p>
                        <p class="font-smaller">
                            @if (home.Created > DateTime.Now.AddDays(-1)) {
                                <span class="font-weight-bold">Created <passed-time time="@home.Created" /> by @home.CreatedBy</span>
                            }
                            else {
                                <span>Created <passed-time time="@home.Created" /> by @home.CreatedBy</span>
                            }
                        </p>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<p>
    <a class="btn btn-primary" asp-area="Homes" asp-page="./Create">Add a Home</a>
</p>

@section Scripts {
    <script>
        let pageAddress = "@Url.Page("./Index")";

        $(function () {
            $('select[name="Sort"]').on('change', function () {
                window.location = pageAddress + "?sort=" + this.value;
            });
        });
    </script>
}