@page
@model App.Areas.Homes.Pages.Home.DetailsModel

@{ ViewData["Title"] = "Home Details"; }

<p><a class="btn btn-sm btn-light btn-back-arrow bold" asp-page="./Index">Back</a></p>

<p>
    <span class="h5">@Model.Home.Address</span>
    <a class="badge border border-secondary btn-outline-secondary" asp-page="./Edit" asp-route-id="@Model.Home.Id">Edit</a>
</p>

<div>
    @foreach (var link in Model.Home.Links) {
        <p class="mb-0"><a class="btn-delete" asp-page="./DeleteLink" asp-route-id="@link.Id">&nbsp;</a> <a href="@Html.Raw(link.Link)">@link.Link</a></p>
    }

    <p class="mt-3"><a class="badge border border-secondary btn-outline-secondary" asp-page="./AddLink" asp-route-id="@Model.Home.Id">Add a Link</a></p>
</div>

<hr />

<div class="mt-2">
    <div class="col-2"></div>
    <div class="col-10">
        @foreach (var category in Model.Categories.OrderBy(r => r.SortOrder)) {
            <p class="h5">@category.Title</p>
            <div class="pl-3 pb-2">
                @foreach (var detail in category.Details.OrderBy(r => r.SortOrder)) {
                    <p class="h6"><input type="checkbox" name="" /> @detail.Title</p>
                }
            </div>
        }
    </div>
</div>

<hr />

<div class="pl-3">
    <p class="mb-0"><small class="text-muted">Added <passed-time time="@Model.Home.Created" /> by @Model.Home.CreatedBy.FirstName</small></p>
    <p class="mb-0"><small class="text-muted">Last edited <passed-time time="@Model.Home.Modified" /> by @Model.Home.ModifiedBy.FirstName</small></p>
</div>
