@page
@model App.Areas.Homes.Pages.Home.IndexModel

<p>
    <a asp-area="Homes" asp-page="/Home/Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Home[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Home[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Home[0].Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Home[0].Modified)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Home[0].CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Home[0].ModifiedBy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Home) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedBy.Id)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
