@page
@model App.Areas.Homes.Pages.Home.IndexModel
@{ ViewData["Title"] = "Homes"; }

@if (Model.Homes.Any()) {
    <table class="table table-hover rounded">
        <thead class="thead-light">
            <tr class="row">
                <th class="col-1 h5 m-0 text-center">
                    <a asp-page="./Index" asp-route-sort="score">
                        @if (ViewData["sort"] is "score") {
                            <span class="sort-filter">Score</span>
                        }
                        else {
                            <span>Score</span>
                        }
                    </a>
                </th>
                <th class="col h5 m-0">
                    <a asp-page="./Index" asp-route-sort="address">
                        @if (ViewData["sort"] is "address") {
                            <span class="sort-filter">Address</span>
                        }
                        else {
                            <span>Address</span>
                        }
                    </a>
                </th>
                <th class="col-1 h6 m-0 text-center">
                    <a asp-page="./Index" asp-route-sort="updated">
                        @if (ViewData["sort"] is "updated") {
                            <span class="sort-filter">Updated</span>
                        }
                        else {
                            <span>Updated</span>
                        }
                    </a>
                </th>
                <th class="col-1 h6 m-0 text-center">
                    <a asp-page="./Index" asp-route-sort="created">
                        @if (ViewData["sort"] is "created") {
                            <span class="sort-filter">Created</span>
                        }
                        else {
                            <span>Created</span>
                        }
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Homes) {
                <tr class="row clickable">
                    <td class="col-1 text-center">
                        <span class="h5 font-weight-bold">@item.Score</span>
                    </td>
                    <td class="col">
                        <a asp-page="./Details" asp-route-id="@item.Id">@item.Address</a>
                    </td>
                    <td class="col-1 text-center">
                        @if (item.Updated > DateTime.Now.AddDays(-1)) {
                            <span class="badge badge-light"><passed-time time="@item.Updated" /></span>
                        }
                        else {
                            <span class="font-smaller"><passed-time time="@item.Updated" /></span>
                        }
                    </td>
                    <td class="col-1 text-center">
                        @if (item.Created > DateTime.Now.AddDays(-1)) {
                            <span class="badge badge-light"><passed-time time="@item.Created" /></span>
                        }
                        else {
                            <span class="font-smaller"><passed-time time="@item.Created" /></span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<p>
    <a class="btn btn-primary" asp-area="Homes" asp-page="./Create">Add a Home</a>
</p>